.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.indexContainer {
  background-color: rgb(120, 217, 138);
  padding: 40px;
  align-content: center;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.indexContainer > h3 {
  color: rgb(8, 1, 42);
}

.container {
  width: 100%;
  justify-content: space-around;
  display: flex;
}

.article {
  margin-top: 60px;
  width: 30%;
  display: flex;
  flex-direction: column;
}

@media (max-width: 600px) {
  .article {
    margin-top: 30px;
    width: 45%;
    display: flex;
    flex-direction: column;
  }
}

.primaryBtn {
  border: none;
  margin-left: 5px;
  height: 40px;
  border-radius: 5px;
  background-color: rgb(120, 217, 138);
}

.article > h1 {
  font-size: 4vmin;
  border-bottom: solid rgb(8, 1, 42);
  margin: 20px 0px 20px;
}

.item {
  margin-bottom: 40px;
  width: 100%;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
}

.primaryBtn {
  font-size: 2.7vmin;
  border: none;
  margin-left: 5px;
  height: 40px;
  width: 100%;
  border-radius: 5px;
  background-color: rgb(120, 217, 138);
}

.item > img {
  width: 100%;
}

.item > h1 {
  font-size: 3vmin;
}

.quantity {
  flex-wrap: nowrap;
  flex-direction: row;
  display: flex;
}

.quantity > div {
  flex-wrap: nowrap;
  flex-direction: row;
  display: flex;
  margin-bottom: 20px;
  margin-left: 30px;
}

.quantity > div > button {
  font-size: 2.5vmin;
  text-align: center;
  width: 35px;
  border: none;
  height: 27px;
  margin: 0px 5px;
  border-radius: 10px;
  background-color: rgb(120, 217, 138);
}

@media (max-width: 600px) {
  .quantity {
    margin-top: 5px;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .quantity > div {
    flex-wrap: nowrap;
    display: flex;
    margin-bottom: 20px;
    margin-top: 5px;
    margin-left: 0;
  }

  .item > h1 {
    font-size: 5vmin;
  }
  
}

.resumeCart {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
}

@media (max-width: 600px) {
  .resumeCart {
    width: 50%;
  }
}

.fixed {
  font-size: 3vmin;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: flex-start;
  height: 70%;
  position: fixed;
}

.fixed > h1 {
  border-bottom: solid;
}

.quantity > div > input {
  text-align: center;
  padding-left: 10px;
  width: 50%;
}

.link {
  color: rgb(8, 1, 42);
  text-decoration: none;
}